footer.footer
  .footer__icons 
    .footer__icon 
      img(alt="fb icon" src='../images/icon-facebook.svg')
    .footer__icon 
      img(alt="fb icon" src='../images/icon-twitter.svg')
    .footer__icon 
      img(alt="fb icon" src='../images/icon-instagram.svg')

  p.footer__credit.u-mt-large &copy; Copyright Ping. All rights reserved 